= form_for @issue, :html => { :multipart => true } do |f|
  - if @issue.errors.any?
    #error_explanation
      %h2
        = pluralize(@issue.errors.count, "error")
        prohibited this issue from being saved:
      %ul
        - @issue.errors.full_messages.each do |msg|
          %li= msg
  .field{:class => "form-group"}
    = f.label :description
    = f.text_area :description, :class => "form-control"
  .field{:class => "form-group"}
    = f.label :state
    //= f.select :state, options_for_select(Issue::STATE_OPTIONS), :include_blank => 'Select Ticket State'
    = f.select :state, options_for_select([["Select Ticket State",""]] + Issue::STATE_OPTIONS, @issue[:state]), {}, :class => "form-control"
  .field{:class => "form-group"}
    = f.label :urgency
    //= f.select :urgency, options_for_select(Issue::URGENCY_OPTIONS), :include_blank => 'Select Ticket Urgency'
    = f.select :urgency, options_for_select([["Select Ticket Urgency",""]] + Issue::URGENCY_OPTIONS, @issue[:urgency]), {}, :class => "form-control"
  .field{:class => "form-group"}
    = f.label :picture
    = f.file_field :picture
    = f.hidden_field :picture_cache
  .field{:class => "form-group"}
    = f.label :attachment
    = f.file_field :attachment
    = f.hidden_field :attachment_cache
  .field{:class => "form-group"}
    = f.label :email
    = f.text_field :email, :class => "form-control"
  .field{:class => "form-group"}
    = f.label :device_id
    = f.select :device_id, options_for_select([["Select Ticket Device",""]] + (@devices ? @devices.map { |device| [device.name, device.id] }:[[]]), @issue[:device_id]), {}, :class => "form-control"
  .field{:class => "form-group"}
    = f.label :platform_id
    = f.select :platform_id, options_for_select([["Select Current Platform",""]] + (@platforms ? @platforms.map { |platform| [platform.name, platform.id] }:[[]]), @issue[:platform_id]), {}, :class => "form-control"
  .field{:class => "form-group"}
    = f.label :category_id
    = f.select :category_id, options_for_select([["Select Issue Category",""]] + (@categories ? @categories.map { |category| [category.name, category.id] }:[[]]), @issue[:category_id]), {}, :class => "form-control"
  .actions
    = f.button :submit, :class => "btn btn-primary"