<%= form_for @issue, :html => { :multipart => true } do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, Issue::STATE_OPTIONS,
                 prompt: "Select the state" %>
  </div>
  <div class="field">
    <%= f.label :urgency %><br>
    <%= f.select :urgency, Issue::URGENCY_OPTIONS,
                 prompt: "Select the urgency" %>
  </div>
  <div class="field">
    <%= image_tag(@issue.picture_url) if @issue.picture? %>
    <%= f.file_field :picture %>
    <%= f.hidden_field :picture_cache %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
