#notice
  %p= notice
%p
  %strong.code#message Description:
  = @issue.description
%p
  %strong.code#message State:
  = @issue.state
%p
  %strong.code#message Urgency:
  = @issue.urgency
%p
  %strong.code#message Picture:
  - if @issue.picture_url
    =image_tag @issue.picture_url
%p
  %strong.code#message Attachment:
  = @issue.attachment
%p
  %strong.code#message Email:
  = @issue.email
%p
  %strong.code#message Device:
  - if @issue.device_id
    = link_to Device.find(@issue.device_id).name, Device.find(@issue.device_id)
%p
  %strong.code#message Platform:
  - if @issue.platform_id
    = link_to Platform.find(@issue.platform_id).name, Platform.find(@issue.platform_id)
%p
  %strong.code#message Category:
  - if @issue.category_id
    = link_to Category.find(@issue.category_id).name, Category.find(@issue.category_id)
= link_to 'Edit Issue', edit_issue_path(@issue), :class => "btn btn-primary"
= link_to 'Back', issues_path, :class => "btn btn-default"
