<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>
<p>
  <strong>State:</strong>
  <%= @issue.state %>
</p>
<p>
  <strong>Urgency:</strong>
  <%= @issue.urgency %>
</p>

<div>
    <%= image_tag(@issue.picture_url) if @issue.picture? %>
</div>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
