= form_for @device, :html => { :multipart => true } do |f|
  - if @device.errors.any?
    #error_explanation
      %h2
        = pluralize(@issue.errors.count, "error")
        prohibited this issue from being saved:
      %ul
        - @issue.errors.full_messages.each do |msg|
          %li= msg
  .field{:class => "form-group"}
    = f.label :name
    = f.text_field :name, :class => "form-control"
  .field{:class => "form-group"}
  .actions
    = f.button :submit, :class => "btn btn-primary"
