#notice
  %p= notice
%p
  %strong.code#message Name:
  = @recipient.name
%p
  %strong.code#message Email:
  = @recipient.email
= link_to 'Edit', edit_recipient_path(@recipient), :class => "btn btn-default"
= link_to 'Back', recipients_path, :class => "btn btn-default"